.modal
  position: fixed
  left: 0
  top: 0
  background-color: $main-background
  z-index: 99
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  & .form
    background-color: $blue
    width: 70%
    height: 60%
    padding: 2% 5%
    border-radius: 10px
    &__select
      &_label
        display: block
        margin-bottom: 2%
        & select
          background-color: transparent
          border: 2px solid $main-background
          width: 100%
          padding: 1.5%
          border-radius: 10px
          &:active, &:focus
            outline: none
          & option
            background-color: $grey
            color: $light
            border-radius: 10px
            width: 50%
            font-size: 0.9rem
      &_name
        font-weight: 600
        color: $grey
        
    &__btn
      position: relative
      cursor: pointer
      margin: 2% 23%
      padding: 2.5% 3%
      border: none
      background-color: $grey
      color: $light
      width: 50%
      font-size: 0.9rem
      border-radius: 10px
      outline: none
      &::placeholder
        color: $light
        text-align: center

    & #calendar
      position: absolute
      top: 15%

