.square-section
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(2, 1fr)
  grid-gap: 0
  width: 100%
  height: 100vh
  & .square
    width: calc(250px/2)
    height: calc(250px/2)
    background-color: $turquoise
    &_top-left
      grid-column: 1/2
      grid-row: 1/2
      align-self: end
      justify-self: end
    &_top-right
      grid-column: 2/2
      grid-row: 1/2
      align-self: end
    &_bottom-left
      grid-column: 1/2
      grid-row: 2/2
      align-self: start
      justify-self: end
    &_bottom-right
      grid-column: 2/2
      grid-row: 2/2
      align-self: start